/* Conteneur principal injecté par le content script */
#overlay-image-root {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 9999999999;
}

/* Wrapper de l'image pour pouvoir la déplacer/transformer */
#overlay-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: center center;
    will-change: transform, opacity, top, left;
}

#overlay-image-wrapper.unlocked {
    cursor: move; /* lorsqu'on déverrouille pour déplacer */
}

#overlay-image-img, #overlay-image-canvas {
    display: block;
    max-width: none; /* on gère l'échelle nous-mêmes */
    user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
}
#overlay-image-canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* Petit badge d'état (optionnel) */
#overlay-image-badge {
    position: fixed;
    right: 12px;
    bottom: 50%;
    font-family: system-ui, sans-serif !important;
    font-size: 13px;
    padding: 6px 8px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 8px;
    pointer-events: auto;
    border: 0.5px solid white;
    width: fit-content;
}

#overlay-image-badge .overlay-row {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 3px;
}

#overlay-image-badge .overlay-row .overlay-row-label {
    width: 55px;
    font-weight: 600;
}


#overlay-image-badge .overlay-row .overlay-row-value {
    cursor: pointer;
}

#overlay-image-badge .overlay-row .overlay-row-icon {
    font-size: 20px;
    line-height: 1;
}

#overlay-image-badge .overlay-row .overlay-row-value, #overlay-image-badge .overlay-row .overlay-row-icon {
    cursor: pointer;
}
#overlay-image-badge .overlay-row .overlay-row-value:hover, #overlay-image-badge .overlay-row .overlay-row-icon:hover {
    filter: brightness(1.2);
}